<div class="container">
  <h1 class="text-center">
    NEW AIRPORT
  </h1>
</div>

<div class="container">
  <div class="col-md-offset-4 col-md-4">
    <section class="row text-center">
      <a href="<%= airports_path %>" class="btn btn-primary">RETURN AIRPORTS</a>
    </section>
  </div>
</div>

<div class="container">
  <%= form_for @airport do |a| %>
    <div class="form-group">
      <%= a.label :name %>
      <%= a.text_field :name, class: "form-control" %>
    </div>

      <div class="form-group">
        <%= a.label :city_id %>

        <select class="selectpicker" name="airport[city_id]">
          <% @cities.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
          <% end %>
        </select>
      </div>

    <%= a.submit "Create Airport", class:"btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <% if @airport.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@airport.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @airport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
