<div class="container">
  <h1 class="text-center">AIRLINES</h1>
</div>

<div class="container">
  <div class="col-md-offset-4 col-md-4">
    <section class="row text-center">
      <a href="<%= new_airline_path %>" class="btn btn-primary">NEW AIRLINE</a>
    </section>
  </div>
</div>
<p></p>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel panel-heading panel-title">AIRLINES</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>NAME</th>
      </tr>
      <% @airlines.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><a href="<%= airline_path(a.id) %>" data-method="delete" class="btn btn-danger">Delete</a></td>
        <td><a href="<%= edit_airline_path(a.id) %>" class="btn btn-warning">Edit</a></td>
        <td><a href="<%= airline_path(a.id) %>" class="btn btn-info"> Show </a></td>
      </tr>
      <% end if @airlines.any?%>
    </table>
  </div>

</div>
